h1{
    background-color: lightcoral;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color: cornsilk;
}
header{
    color: cornflowerblue;
    background-color: crimson;
    font-size: 20px;
}
nav{
    color: sienna;
    background-color: tan;
    width: 1350px;
    height:50px ;
}
section{
    width:500px;
    height:390px;
    position: absolute;
    top:350px;
    background-color: moccasin;
    border:5px dotted blueviolet;
    text-align: center;
    color: tomato;
    font-size: 24px;
    font-style: italic;
}
aside{
    width:500px;
    height: 900px;
    position: absolute ;
    top:350px;
    right:0px;
    background-color:moccasin ;
    border:5px dotted blueviolet;
    text-align: center;
    font-size: 24px;
    font-style: italic;
    color: tomato;
}